.ipynb_checkpoints*
__pycache__*
analysis/yolo11n.pt
analysis/yolov8m.pt
*.pt
analysis/play_with_preprocessing.ipynb
matlab/J.mat
analysis/run_diagnosticsStyleB.ipynb
analysis/run_diagnosticsStyleB-Copy1.ipynb
analysis/run_diagnosticsStyleB-Copy2.ipynb
analysis/run_diagnosticsStyle_sweep.ipynb
analysis/run_diagnosticsStyle_sweep-Copy1.ipynb
analysis/run_diagnosticsStyle_sweep-Copy2.ipynb
analysis/run_diagnosticsStyle_sweep-Copy3.ipynb
analysis/run_diagnostics2DTV-first run epsilon.ipynb
analysis/run_diagnostics2DTV-Copy1.ipynb
analysis/run_diagnostics2DTV-Easy.ipynb
analysis/run_diagnostics2DTV-Easy-Copy1.ipynb
analysis/run_diagnostics2DTV-Easy-Copy2.ipynb
